<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:teradata="http://www.mulesoft.org/schema/mule/teradata"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/teradata http://www.mulesoft.org/schema/mule/teradata/current/mule-teradata.xsd
        ">

    <teradata:config name="dbConfigMySQL">
        <teradata:my-sql-connection host="0.0.0.0" port="#[java!org::mule::extension::teradata::DbMunitUtils::getDbPort('mysql')]"
                              user="root" password="password" database="xe">
            <teradata:pooling-profile/>
        </teradata:my-sql-connection>
    </teradata:config>

</mule>